.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 250px;
    margin-right: 25px;
    background-color: rgb(220, 220, 220);
}

.sidebar > ul {
    padding: 0;
}

.sidebar > ul > li {
    list-style-type: none;
    margin-top: 25px;
}